body {
	background: #DA4453;
}
h1 {
	font-family: "Trade Gothic Condensed", Univers, sans-serif;
	font-size: 60px;
	color: #FFFFFF;
}
li {
	font-family: Courier, sans-serif;
}

a:link {
    color: #FFFFFF;
}

a:visited {
    color: #A0D468;
}

a:hover {
    color: #4FC1E9;
}

a:active {
    color: #4FC1E9;
}