#flipbook {
	width:700px;
	height:600px
}

#flipbook .page-wrapper{
	-webkit-perspective:2000px;
	-moz-perspective: 2000px;
	-ms-perspective: 2000px;
	perspective: 2000px;
}

#flipbook .p2,
#flipbook .p3{
	width:300px;
	height:500px;
}

#flipbook .p1,
#flipbook .p2,
#flipbook .p3,
#flipbook .p4{
	width:500px;
	height:300px;
}