body {
  	font-family: 'Anonymous Pro', monospace;
  	color: #474747;
  	height: 100%;
  	text-align: center;
  	overflow: hidden;
  	position: relative;
}

div.outside {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
div.inside {
	padding-bottom: 40px;
}

img {
	opacity: .6;
}

