<meta name="viewport" content="width=device-width, initial-scale=1.0">

@media handheld, screen and (max-width: 10000px) {
    html,
    body {
        margin: 0;
        overflow: hidden;
        width: 100%;
        height: 100%;
        position: relative;
    }

    body {
      background-color: #d3d3d3;
    }

    h1 {
    	font-family: 'Cutive Mono', monospace;
    	font-size: 40px;
    	z-index: 3;
    	text-transform: lowercase;
    	left: 30px;
    	position: fixed;
    	color: #787878;
    }

    /* Scale canvas with resize attribute to full size */
    canvas[resize] {
        width: 100%;
        height: 100%;
    }
    canvas {
        position: fixed;
    }

    div#overlay {
        display: none;
        z-index: 2;
        background: #000;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        text-align: center;
    }
    div#specialBox {
        display: none;
        position: relative;
        z-index: 3;
        margin: 150px auto 0px auto;
        width: 500px; 
        height: 300px;
        background: #FFF;
        color: #666666;
    }
    
    div#content {
        position:absolute;
        width:90%;
        height:90%;
        left: 15px;
        top: 15px;
        overflow-y:scroll;
        font-family: 'Cutive Mono', monospace;
    }

    div#wrapper {
        position:fixed;
        bottom: 20px;
        left: 30px;
        width: 70px;
        z-index: 100;
    }

    img#compass {
        width: 100%;
    }

    img#close {
        width: 20px;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 20;
    }

    img#map {
        width: 100%;
        position: fixed;
        top: 0;
        bottom: 0;
        margin: auto;
        z-index: -1;
    }

    div#phoneCompass {
        display: none;
    }
}

@media handheld, screen and (max-width: 600px) {
    img#map {
        display: none;
    }
    h1 {
        display: none;
    }
    div#overlay {
        display: none;
    }
    div#specialBox {
        display: none;
    }
    div#wrapper {
        display: none;
    }
    canvas {
        display: none;
    }

    div#phoneCompassStatic {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        width: 70%;
        height: 70%;
        background-image: url(images/phoneCompassStatic.svg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    div#phoneCompass {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        width: 70%;
        height: 70%;
        background-image: url(images/phoneCompass.svg);
        background-repeat: no-repeat;
        background-size: 100% 100%;

        -webkit-animation-name: spin;
        -webkit-animation-duration: 4000ms;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        -moz-animation-name: spin;
        -moz-animation-duration: 4000ms;
        -moz-animation-iteration-count: infinite;
        -moz-animation-timing-function: linear;
        -ms-animation-name: spin;
        -ms-animation-duration: 4000ms;
        -ms-animation-iteration-count: infinite;
        -ms-animation-timing-function: linear;
        
        animation-name: spin;
        animation-duration: 4000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    @-ms-keyframes spin {
        from { -ms-transform: rotate(0deg); }
        to { -ms-transform: rotate(360deg); }
    }
    @-moz-keyframes spin {
        from { -moz-transform: rotate(0deg); }
        to { -moz-transform: rotate(360deg); }
    }
    @-webkit-keyframes spin {
        from { -webkit-transform: rotate(0deg); }
        to { -webkit-transform: rotate(360deg); }
    }
    @keyframes spin {
        from {
            transform:rotate(0deg);
        }
        to {
            transform:rotate(360deg);
        }
    }
}
